@using TaskMeta.Components.ViewModels
@using TaskMeta.MVVM
@inherits ViewBase<TransactionListViewModel>

@if (ViewModel?.TransactionQuery != null)
{
    <div style="height: 100%; overflow-y: scroll;">

        <FluentDataGrid Items="@ViewModel!.TransactionQuery" ResizableColumns=true Virtualize="true" ItemSize="54" Pagination="@ViewModel.Pagination"
                        GridTemplateColumns="2fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr" Style="height: 100%;">
            <PropertyColumn Property="@(t=>t.Description)" Sortable="true" />
            <PropertyColumn Property="@(t=>t.Amount.ToString("C"))" Title="Amount   " Sortable="true" />
            <PropertyColumn Property="@(t=>t.Category.Name)" Title="Category" Sortable="true" />
            <PropertyColumn Property='@(t=>t.SourceFund == null ? "N/A": t.SourceFund.Name)' Title="Source" Sortable="true" />
            <PropertyColumn Property='@(t=>t.TargetFund == null ? "N/A": t.TargetFund.Name)' Title="Target" Sortable="true" />
            <PropertyColumn Property='@(t=>t.PreviousAmount != null ? t.PreviousAmount.Value.ToString("C"):"")' Sortable="true" Title="Previous Amount" />
            <PropertyColumn Property="@(t=>t.CallingUser.UserName)" Title="Owner" Sortable="true" />
            <PropertyColumn Property="@(t=>t.Date)" Sortable="true" IsDefaultSortColumn InitialSortDirection="SortDirection.Descending" />
        </FluentDataGrid>
    </div>
}