@page "/summary"
@using Microsoft.AspNetCore.Authorization
@using TaskMeta.Components.Widgets
@using TaskMeta.Shared.Models
@namespace TaskMeta.Components.Tasks

@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>TaskMeta - Summary</PageTitle>
<h3>Summary</h3>

<FluentStack Orientation="Orientation.Vertical">
     <FluentCard>
        <UserSelector Users="@contributors" OnSelect="HandleUserSelected" SelectedUser="State?.SelectedUser"  />
        <hr/>
        <TaskGrid TaskWeek="@taskWeek" TaskDefinitions="@taskDefinitions" OnChange="HandleTaskChange"
            CanApprove="@canApprove" OnApproved="HandleApproval"/>
    </FluentCard>
    <WeekSelector CurrentWeek="taskWeek" NextWeek="nextWeek" PreviousWeek="previousWeek"
                  OnNextWeek="@(()=>LoadActivities(nextWeek!))" 
                  OnPreviousWeek="@(()=>LoadActivities(previousWeek!))" />
</FluentStack>