@page "/tasks/admin"
@using Microsoft.AspNetCore.Authorization
@using TaskMeta.Components.Widgets
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin")]

<h3>Task Administration</h3>
<PageTitle>TaskMeta - Task Administration</PageTitle>
<FluentStack Orientation="Orientation.Vertical">
    <FluentCard>
        <UserSelector Users="@_contributors" OnSelect="HandleUserSelected" SelectedUser="State?.SelectedUser" />
        <hr/>
        <FluentDataGrid Items="@_taskDefinitionQuery" ResizableColumns=true Virtualize="true" ItemSize="54" Pagination="@_pagination"
                        GridTemplateColumns="2fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr" Style="height: 100%;">
            <PropertyColumn Property="@(t=>t.Description)" Sortable="true" />
            <PropertyColumn Property="@(t=>t.Value)" Format="C" Title="Amount" Sortable="true" />
            <PropertyColumn Property="@(t=>t.Sequence)" Title="Sequence" Sortable="true" />
            <PropertyColumn Property="@(t=>t.User.UserName)" Title="User" Sortable="true" />
            <TemplateColumn>
                <FluentButton IconStart="@(new Icons.Regular.Size24.Edit())"
                              OnClick="@(()=>HandleEdit(context))" />
                <FluentButton IconStart="@(new Icons.Regular.Size24.EyeOff())"
                              OnClick="@(()=>HandleEdit(context))" />
            </TemplateColumn>
                    
        </FluentDataGrid>
    </FluentCard>
</FluentStack>