@page "/summary"
@using Microsoft.AspNetCore.Authorization
@using TaskMeta.Components.Widgets
@using TaskMeta.Shared.Models

@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>TaskMeta - Summary</PageTitle>
<h3>Summary</h3>

<FluentStack Orientation="Orientation.Vertical">
    <UserSelector Users="@contributors" OnSelect="HandleUserSelected" />
    <TaskGrid TaskWeek="@taskWeek" TaskDefinitions="@taskDefinitions" TaskActivities="@taskActivities"/>
    <WeekSelector CurrentWeek="taskWeek" NextWeek="nextWeek" PreviousWeek="previousWeek" 
        OnNextWeek="@(()=>LoadWeek(nextWeek!))" OnPreviousWeek="@(()=>LoadWeek(previousWeek!))" />    
</FluentStack>