@page "/jobs/admin"
@using Microsoft.AspNetCore.Authorization
@using TaskMeta.Components.Widgets
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin")]

<PageTitle>JobMeta - Jobs Administration</PageTitle>
<h3>Jobs Administration</h3>


<UserSelector Users="@_contributorList" OnSelect="HandleUserSelected" SelectedUser="State?.SelectedUser" CanClear="true" />
<hr />
@if (_jobListFiltered != null)
{
    <EditForm OnValidSubmit="@HandleSave" FormName="JobForm" EditContext="_editContext">

        <div class="table">
            <div class="row topLabel">
                <div class="cell">Description</div>
                <div class="cell">Value</div>
                <div class="cell">User</div>
                <div class="cell">Date Due</div>
                <div class="cell">Date Assigned</div>
                <div class="cell">&nbsp;</div>
            </div>

            @foreach (var job in _jobListFiltered!)
            {
                @if (_editJob != null && _editJob == job)
                {
                    <div class="row">
                        <div class="cell">
                            <div class="sideLabel">Description</div>
                            <FluentTextField @bind-Value="job.Description" form="JobForm" Style="width:100%;min-width:180px" />
                        </div>
                        <div class="cell">
                            <div class="sideLabel">Value</div>
                            <FluentTextField InputMode="InputMode.Decimal" @bind-Value="job.ValueString" Style="width:100%;min-width:100px" />
                        </div>
                        <div class="cell">
                            <div class="sideLabel">User</div>
                            <FluentSelect Items="_userList" OptionText="@(u=>u.UserName)"
                                          OptionValue="@(u=>u.Id)" @bind-Value="job.UserId" Style="width:100%;" />
                        </div>
                        <div class="cell">
                            <div class="sideLabel">Date Due</div>
                            <FluentDatePicker @bind-Value="job.DateTimeDue" Style="width:100%;min-width:130px" />
                        </div>
                        <div class="cell">
                            <div class="sideLabel">Date Assigned</div>
                            @job.DateAssigned
                        </div>
                        <div class="buttonCell">
                            <FluentButton Type="ButtonType.Submit" IconStart="@(new Icons.Regular.Size24.Checkmark())" />
                            <FluentButton OnClick="@(()=>HandleCancel())" IconStart="@(new Icons.Regular.Size24.EditOff())" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="cell">
                            <div class="sideLabel">Description</div>
                            @job.Description
                        </div>
                        <div class="cell">
                            <div class="sideLabel">Value</div>
                            @job.Value.ToString("C")
                        </div>
                        
                        <div class="cell">
                            <div class="sideLabel">User</div>
                            @job.User?.UserName
                        </div>
                        <div class="cell">
                            <div class="sideLabel">Date Due</div>
                            @job.DateDue
                        </div>
                        <div class="cell">
                            <div class="sideLabel">Date Assigned</div>
                            @job.DateAssigned
                        </div>
                        <div class="buttonCell">
                            <FluentButton IconStart="@(new Icons.Regular.Size24.Edit())" OnClick="@(()=>HandleEdit(job))" />

                        </div>
                    </div>
                }
            }

        </div>
    </EditForm>
    <hr />
    <div><FluentButton OnClick="HandleAdd">Add</FluentButton></div>
}